.word--weaver {
	/* font-size: 12vw; */
	/* font-family: 'Abril Fatface', sans-serif; */
	font-weight: 400;
	color: #2d3139;
	line-height: 0.8;
	/* text-transform: uppercase; */
	margin: 0;
	justify-content: center;
	display: flex;

	
}

.word--weaver svg {
	max-width: 100%;
	flex: 0 1 auto;
}

.letter-solid {
	fill: #2d3139;
	transform-origin: 50% 50%;
}

.letter-weaved {
	stroke: #00CCFF;
	stroke-width: 1px;
	fill: none;
	opacity: 0;

}